.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.nav {
  height: 86px;
  background-color: #1f0730e1;
  position: fixed;
  z-index: 9999;
  width: 100%; }
  @media (max-width: 360px) {
    .nav {
      height: 43px; } }
  .nav svg {
    cursor: pointer; }
    .nav svg:hover {
      fill: #edcb9b; }
  .nav__list {
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    list-style-type: none; }
    @media (max-width: 360px) {
      .nav__list {
        display: none; } }
    .nav__listItem:not(:first-child) {
      margin-left: 50px; }
    .nav__listItemLink {
      text-decoration: none;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
      font-family: 'Spectral', serif;
      position: relative; }
      .nav__listItemLink::after {
        content: '';
        height: 10px;
        width: 0%;
        background: #edcb9b;
        position: absolute;
        bottom: 2px;
        left: 0;
        transform-origin: center;
        transition: all 0.3s ease-out; }
      .nav__listItemLink:hover::after {
        content: '';
        width: 100%;
        z-index: -1; }

@media (max-width: 768px) {
  .nav__wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #1f0730;
    height: 100vh;
    width: 100vw !important; }
    .nav__wrapper .nav__list {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .nav__wrapper .nav__list li {
        visibility: none; }
      .nav__wrapper .nav__listItem {
        margin: 0; }
        .nav__wrapper .nav__listItem:not(:last-child) {
          margin-bottom: 30px; } }

.close__nav {
  opacity: 0;
  color: #edcb9b;
  position: absolute;
  top: 50;
  left: 50;
  z-index: 102;
  font-size: 20px;
  cursor: pointer; }
  .close__nav span {
    font-size: 16px; }

.nav__right {
  display: flex;
  align-items: center; }
  .nav__right svg {
    width: 40px;
    padding: 10px;
    border-radius: 100%;
    background: #edcb9b; }
  .nav__right .hamburger__menu {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    cursor: pointer; }
    @media (max-width: 768px) {
      .nav__right .hamburger__menu {
        visibility: visible; } }
    .nav__right .hamburger__menu span {
      width: 30px;
      height: 2px;
      background: #fff; }
      .nav__right .hamburger__menu span:nth-child(2) {
        width: 15px; }
      .nav__right .hamburger__menu span:not(:last-child) {
        margin-bottom: 5px; }

.nav__list-mobile {
  height: 100vh;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .nav__list-mobile li {
    list-style-type: none; }

@media (max-width: 768px) {
  .nav__list {
    display: none; } }

footer {
  height: 146px;
  background: #1f0730;
  border-top: 1px solid #edcb9b; }
  footer .footerWrapper {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 360px) {
      footer .footerWrapper {
        flex-direction: column;
        padding: 30px 0; } }
    footer .footerWrapper .footer__right {
      font-size: 16px;
      color: white; }
    footer .footerWrapper .footer__left-location {
      font-size: 16px;
      color: white; }

.search-overlay {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column; }
  .search-overlay__results {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding: 5% 5%;
    text-align: center; }
  .search-overlay--active {
    height: 100%;
    width: 100%;
    background: #fffffff8;
    position: absolute;
    top: 0;
    z-index: 10000; }
  .search-overlay--none {
    display: none; }
  .search-overlay__close {
    font-size: 2.2rem;
    font-family: "Spectral", serif;
    background-color: #1f0730;
    padding: 1%;
    color: white;
    position: absolute;
    top: 9%;
    right: 3%;
    cursor: pointer; }
    .search-overlay__close:hover {
      background-color: #edcb9b;
      color: #1f0730; }
  .search-overlay__top {
    padding: 5% 5% 0 5%;
    width: 100%;
    height: 20%; }
    .search-overlay__top input {
      width: 90%;
      height: 100%;
      padding-left: 1.6rem;
      border-radius: 0;
      border: none;
      outline: none; }
      .search-overlay__top input[type='text'] {
        border-bottom: 1px solid #1f0730; }
        .search-overlay__top input[type='text']:focus {
          font-size: 1.6rem !important;
          color: white;
          background: #edcb9b;
          border: none; }
      .search-overlay__top input::placeholder {
        font-family: "Spectral", serif;
        font-size: 2rem; }

.body-no-scroll {
  overflow-y: hidden; }

.spinner-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }
  .spinner-loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #edcb9b;
    animation: spinner-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite; }
    .spinner-loader div:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s; }
    .spinner-loader div:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s; }
    .spinner-loader div:nth-child(3) {
      left: 56px;
      animation-delay: 0; }

@keyframes spinner-loader {
  0% {
    top: 8px;
    height: 64px; }
  50%,
  100% {
    top: 24px;
    height: 32px; } }

.chalet-list {
  display: flex;
  flex-wrap: wrap; }
  .chalet-list li {
    display: flex;
    flex: 50%;
    overflow: hidden;
    height: 2%;
    align-items: center;
    gap: 1%; }
    .chalet-list li img {
      width: 50%;
      height: inherit; }
    .chalet-list li a {
      text-decoration: none;
      color: #1f0730;
      font-size: 3rem; }

.listing-cards {
  padding: 84px 0;
  width: 90%;
  margin: 0 auto;
  grid-gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; }
  @media (max-width: 1074px) {
    .listing-cards {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 768px) {
    .listing-cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 468px) {
    .listing-cards {
      grid-template-columns: 1fr; } }
  @media (max-width: 360px) {
    .listing-cards {
      grid-template-columns: repeat(1, 1fr); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Niramit", sans-serif; }

html {
  font-size: 62.5%; }

body {
  visibility: hidden;
  font-family: "Niramit", sans-serif;
  line-height: 1.7;
  font-size: 16px;
  box-sizing: border-box;
  color: #5c5f6d;
  overflow-x: none; }

a {
  text-decoration: none;
  color: white; }

.containerWrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.contact__form {
  width: 100%;
  height: 80%;
  background-color: white;
  padding: 2rem 0; }
  .contact__form-heading {
    position: relative; }
    .contact__form-heading h3 {
      display: block;
      text-align: center;
      font-family: 'Spectral', serif;
      font-size: 34px;
      color: white;
      padding: 4rem 0; }
  .contact__form form {
    width: 70%;
    margin: 0 auto; }
    .contact__form form p {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 68px 68px 1fr 72px; }
      @media (max-width: 360px) {
        .contact__form form p {
          grid-template-columns: 1fr;
          grid-template-rows: 68px 68px 68px 1fr 72px; } }
      .contact__form form p input {
        background: transparent;
        border: 1px solid #1f0730;
        padding-left: 20px;
        font-size: 16px; }
        .contact__form form p input::placeholder {
          color: #1f0730;
          font-size: 16px; }
        .contact__form form p input:focus {
          background-color: #edcb9b; }
    .contact__form form textarea {
      background: transparent;
      border: 1px solid #1f0730;
      font-size: 14px;
      padding-left: 20px;
      padding-top: 20px; }
      .contact__form form textarea::placeholder {
        color: #1f0730; }
      .contact__form form textarea:focus {
        background-color: #edcb9b; }
    .contact__form form button {
      grid-column: 1/3;
      grid-row: 4/5;
      width: 80%;
      margin: 0 auto;
      width: 160px;
      height: 48px;
      border: none;
      background-color: #edcb9b;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      .contact__form form button:hover {
        background-color: #e5b570; }
      @media (max-width: 360px) {
        .contact__form form button {
          grid-column: 1/2;
          grid-row: 5/6;
          width: 200px; } }

span.wpcf7-form-control-wrap.Email {
  grid-column: 2/3;
  grid-row: 1/2; }
  @media (max-width: 360px) {
    span.wpcf7-form-control-wrap.Email {
      grid-column: 1/2;
      grid-row: 2/3; } }

span.wpcf7-form-control-wrap.Subject {
  grid-column: 1/-1;
  grid-row: 2/3; }
  span.wpcf7-form-control-wrap.Subject input {
    width: 100%; }
  @media (max-width: 360px) {
    span.wpcf7-form-control-wrap.Subject {
      grid-column: 1/2;
      grid-row: 3/4; } }

span.wpcf7-form-control-wrap.YourName {
  grid-column: 1/2;
  grid-row: 1/2; }
  @media (max-width: 360px) {
    span.wpcf7-form-control-wrap.YourName {
      grid-column: 1/2; } }

span.wpcf7-form-control-wrap.Textarea {
  grid-column: 1/3;
  grid-row: 3/4; }
  @media (max-width: 360px) {
    span.wpcf7-form-control-wrap.Textarea {
      grid-column: 1/2;
      grid-row: 4/5; } }

input.wpcf7-form-control.wpcf7-submit {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 80%;
  margin: 0 auto;
  width: 160px;
  height: 48px;
  border: none;
  background-color: #edcb9b;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  input.wpcf7-form-control.wpcf7-submit:hover {
    background-color: #e5b570; }
  @media (max-width: 360px) {
    input.wpcf7-form-control.wpcf7-submit {
      grid-column: 1/2;
      grid-row: 5/6;
      width: 200px; } }

.forsale__chalets {
  padding: 84px 0;
  width: 90%;
  margin: 0 auto;
  grid-gap: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto; }
  @media (max-width: 1074px) {
    .forsale__chalets {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 768px) {
    .forsale__chalets {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 468px) {
    .forsale__chalets {
      grid-template-columns: 1fr; } }
  @media (max-width: 360px) {
    .forsale__chalets {
      grid-template-columns: repeat(1, 1fr); } }

.wrapper__404 {
  margin: 0 auto;
  max-width: 90%;
  height: 100vh; }
  .wrapper__404 .notfound {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50vh;
    background: #1f0730;
    margin: 10% auto; }
    @media (max-width: 784px) {
      .wrapper__404 .notfound {
        text-align: center;
        flex-direction: column; } }
    @media (max-width: 784px) {
      .wrapper__404 .notfound__left {
        height: 150px; } }
    .wrapper__404 .notfound__left h1 {
      font-family: "Spectral", serif;
      font-weight: 200;
      font-size: 98px;
      line-height: 194px;
      color: white;
      margin-right: 30px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
    .wrapper__404 .notfound__right p {
      font-family: "Spectral", serif;
      font-weight: 200;
      font-size: 24px;
      color: white;
      line-height: 36px;
      margin-bottom: 10px; }
      @media (max-width: 784px) {
        .wrapper__404 .notfound__right p {
          text-align: center;
          font-size: 16px;
          line-height: 24px; } }
    .wrapper__404 .notfound__right button {
      width: 258px;
      height: 48px;
      background-color: #edcb9b;
      border: none; }
      @media (max-width: 360px) {
        .wrapper__404 .notfound__right button {
          width: 200px; } }
      .wrapper__404 .notfound__right button:hover {
        background-color: #e5b570; }
      .wrapper__404 .notfound__right button a {
        font-size: 16px;
        font-family: "Niramit", sans-serif;
        color: #1f0730; }

.singleWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: 0 auto; }
  .singleWrapper__nav {
    display: flex;
    width: 100%;
    padding: 32px; }
    .singleWrapper__nav a {
      color: #1f0730;
      margin-left: 20px; }
  .singleWrapper__overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px; }
    @media (max-width: 768px) {
      .singleWrapper__overview {
        grid-template-columns: 1fr; } }
    .singleWrapper__overview-images .mainImage {
      height: 424px;
      background-size: cover;
      background-position: center; }
      .singleWrapper__overview-images .mainImage img {
        object-fit: cover; }
    .singleWrapper__overview-images .gallery__images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 24px 0;
      grid-gap: 24px;
      height: 104px; }
      .singleWrapper__overview-images .gallery__images-1 {
        background-size: cover;
        background-position: center; }
      .singleWrapper__overview-images .gallery__images-2 {
        background-size: cover;
        background-position: center; }
      .singleWrapper__overview-images .gallery__images-3 {
        background-size: cover;
        background-position: center; }
    .singleWrapper__overview-details .specs {
      height: 112px;
      background-color: #1f0730;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0; }
      .singleWrapper__overview-details .specs .price {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .singleWrapper__overview-details .specs .price__icon {
          width: 100%;
          height: 100%;
          background-size: contain; }
        .singleWrapper__overview-details .specs .price__text {
          font-size: 16px;
          font-family: "Spectral", serif;
          color: white; }
      .singleWrapper__overview-details .specs .baths {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .singleWrapper__overview-details .specs .baths__icon {
          width: 100%;
          height: 100%;
          background-size: contain; }
        .singleWrapper__overview-details .specs .baths__text {
          font-size: 16px;
          font-family: "Spectral", serif;
          color: white; }
      .singleWrapper__overview-details .specs .beds {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .singleWrapper__overview-details .specs .beds__icon {
          width: 100%;
          height: 100%;
          background-size: contain; }
        .singleWrapper__overview-details .specs .beds__text {
          font-size: 16px;
          font-family: "Spectral", serif;
          color: white; }
      .singleWrapper__overview-details .specs .beds {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .singleWrapper__overview-details .specs .beds__icon {
          width: 100%;
          height: 100%;
          background-size: contain; }
        .singleWrapper__overview-details .specs .beds__text {
          font-size: 16px;
          font-family: "Spectral", serif;
          color: white; }
      .singleWrapper__overview-details .specs .sqft {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .singleWrapper__overview-details .specs .sqft__icon {
          width: 100%;
          height: 100%;
          background-size: contain; }
        .singleWrapper__overview-details .specs .sqft__text {
          font-size: 16px;
          font-family: "Spectral", serif;
          color: white; }
    .singleWrapper__overview .overview h2 {
      font-size: 24px;
      font-family: "Spectral", serif;
      color: #1f0730;
      padding: 32px 0 16px 0; }
    .singleWrapper__overview .features__heading {
      font-size: 24px;
      font-family: "Spectral", serif;
      color: #1f0730;
      padding: 32px 0 16px 0; }
    .singleWrapper__overview .features__details {
      width: 100%;
      display: grid;
      grid-gap: 8px;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: space-between; }
      @media (max-width: 360px) {
        .singleWrapper__overview .features__details {
          grid-template-columns: 1fr 1fr; } }
      .singleWrapper__overview .features__details span {
        margin-right: 8px; }
      .singleWrapper__overview .features__details .bold {
        font-weight: bold; }
  .singleWrapper .similar__chalets {
    margin-top: 100px; }
    .singleWrapper .similar__chalets-heading {
      display: flex;
      align-items: center;
      padding: 16px 0; }
      .singleWrapper .similar__chalets-heading .left__rec {
        width: 72px;
        height: 38px;
        background: #edcb9b;
        margin-right: 10px; }
      .singleWrapper .similar__chalets-heading h1 {
        font-family: "Spectral", serif;
        font-weight: 300;
        color: #1f0730;
        font-size: 42px;
        line-height: 48px; }
        @media (max-width: 360px) {
          .singleWrapper .similar__chalets-heading h1 {
            font-size: 32px; } }
    .singleWrapper .similar__chalets-listings {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 122px; }
      @media (max-width: 768px) {
        .singleWrapper .similar__chalets-listings {
          grid-template-columns: 1fr 1fr; } }
      @media (max-width: 360px) {
        .singleWrapper .similar__chalets-listings {
          grid-template-columns: 1fr; } }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1f0730;
  height: 60%;
  position: relative;
  padding-top: 86px; }
  @media (max-width: 360px) {
    .hero {
      font-size: 40px;
      grid-template-columns: 1fr; } }
  @media (max-width: 360px) {
    .hero {
      padding-top: 43px; } }
  .hero__left {
    grid-column: 1/2;
    height: 60vh;
    background-color: #1f0730;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .hero__left {
        position: absolute;
        left: 0;
        height: 60vh;
        bottom: 0rem;
        width: 341px;
        z-index: 10;
        background-color: #24272e00; } }
    @media (max-width: 360px) {
      .hero__left {
        width: 100%; } }
    .hero__left-heading {
      font-size: 50px;
      margin: 0;
      font-weight: 300;
      font-family: 'Spectral', serif;
      color: white; }
      @media (max-width: 768px) {
        .hero__left-heading {
          font-size: 40px; } }
    .hero__left-location {
      display: inline;
      align-items: center; }
      .hero__left-location p {
        display: inline;
        font-size: 24px;
        color: #edcb9b;
        margin-left: 10px; }
        @media (max-width: 768px) {
          .hero__left-location p {
            font-size: 14px; } }
      .hero__left-location img {
        display: inline; }
    .hero__left-specs {
      font-size: 24px;
      color: white;
      margin-bottom: 42px; }
      @media (max-width: 768px) {
        .hero__left-specs {
          font-size: 16px; } }
    .hero__left-button {
      position: relative;
      width: 194px;
      background-color: #edcb9b;
      height: 56px;
      border: none;
      transition: all 0.3s ease-in-out;
      border-radius: 0; }
      .hero__left-button:hover {
        background-color: #e5b570; }
      @media (max-width: 768px) {
        .hero__left-button {
          width: 200px; } }
      .hero__left-button a {
        color: #1f0730;
        font-size: 16px; }
  .hero__right {
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    overflow-x: hidden; }
    @media (max-width: 768px) {
      .hero__right {
        grid-column: 1/3;
        height: 60vh; }
        .hero__right::after {
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: #24272eb6; } }
    .hero__right-image {
      height: 100%;
      overflow: hidden; }
      .hero__right-image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 23rem;
  grid-gap: 2%;
  padding: 1% 0; }
  @media (max-width: 768px) {
    .gallery {
      height: 15rem;
      padding: 1.5%; } }
  @media (max-width: 360px) {
    .gallery {
      height: 10rem;
      padding: 1.5%; } }
  .gallery__image-one {
    overflow: hidden; }
    .gallery__image-one img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery__image-two {
    overflow: hidden; }
    .gallery__image-two img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery__image-three {
    overflow: hidden; }
    .gallery__image-three img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .gallery__image-four {
    overflow: hidden; }
    .gallery__image-four img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  position: relative; }
  @media (max-width: 768px) {
    .search-form {
      grid-template-rows: 1fr 200px; } }
  .search-form__left-top {
    height: 100%;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/2; }
    .search-form__left-top img {
      width: 100%;
      height: 100%; }
    @media (max-width: 768px) {
      .search-form__left-top {
        grid-column: 1/3; } }
  .search-form__left-bottom {
    padding-top: 10%;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 20%;
    position: relative;
    background-color: #f1f2f4;
    height: 100%;
    width: 100%; }
    @media (max-width: 768px) {
      .search-form__left-bottom {
        padding-left: 5%;
        grid-column: 1/3; } }
    @media (max-width: 360px) {
      .search-form__left-bottom {
        background: white; } }
    .search-form__left-bottom span {
      position: absolute;
      font-family: Spectral-Bold;
      font-weight: 600;
      display: block;
      width: 50%;
      height: 100%;
      font-size: 50px;
      color: #24272e;
      line-height: 55px;
      z-index: 2; }
      @media (max-width: 768px) {
        .search-form__left-bottom span {
          width: 25%;
          top: 60px;
          font-size: 30px;
          line-height: 35px; } }
      @media (max-width: 1074px) {
        .search-form__left-bottom span {
          width: 35%;
          top: 60px;
          font-size: 40px;
          line-height: 35px; } }
      @media (max-width: 768px) {
        .search-form__left-bottom span {
          display: none; } }
      @media (max-width: 360px) {
        .search-form__left-bottom span {
          display: none; } }
    .search-form__left-bottom .rect {
      position: absolute;
      left: 20%;
      top: 40%;
      width: 168px;
      height: 34px;
      background-color: #edcb9b;
      z-index: 1; }
      @media (max-width: 768px) {
        .search-form__left-bottom .rect {
          width: 160px;
          top: 30%;
          left: 5%; } }
      @media (max-width: 768px) {
        .search-form__left-bottom .rect {
          display: none; } }
      @media (max-width: 360px) {
        .search-form__left-bottom .rect {
          display: none; } }
  .search-form__right {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: #1f0730;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center; }
    @media (max-width: 768px) {
      .search-form__right {
        height: 60%; } }
    .search-form__right .dream {
      margin: 0 10%; }
      .search-form__right .dream h2 {
        font-family: "Spectral", serif;
        line-height: 1.2;
        color: white;
        margin: 0;
        text-align: center;
        font-size: 56px; }
        @media (max-width: 768px) {
          .search-form__right .dream h2 {
            font-size: 36px; } }
    @media (max-width: 768px) {
      .search-form__right {
        position: absolute;
        background-color: #24272ef1;
        padding: 5rem 0;
        width: 130%;
        right: 30px;
        top: 30px; } }
    @media (max-width: 1074px) {
      .search-form__right {
        position: absolute;
        background-color: #24272ef1;
        padding: 5rem 0;
        width: 130%;
        right: 30px;
        top: 30px; } }
    @media (max-width: 360px) {
      .search-form__right {
        grid-column: 1/3;
        grid-row: 1/3;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%; } }
    .search-form__right .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }
      @media (max-width: 768px) {
        .search-form__right .form {
          height: 80%; } }
      .search-form__right .form-nav {
        display: flex;
        margin-bottom: 46px; }
        .search-form__right .form-nav__forsale {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 40px;
          background: #edcb9b; }
          .search-form__right .form-nav__forsale a {
            color: #1f0730;
            font-size: 16px; }
        .search-form__right .form-nav__forrent {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 40px;
          border: 1px solid #edcb9b; }
          .search-form__right .form-nav__forrent a {
            font-size: 16px; }
      .search-form__right .form-select {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8%;
        justify-items: center;
        align-items: center;
        width: 60%; }
        .search-form__right .form-select__baths {
          width: 100%; }
        .search-form__right .form-select__beds {
          width: 100%; }
        .search-form__right .form-select .custom-select {
          position: relative;
          border: 1px solid #edcb9b;
          border-color: #edcb9b; }
          .search-form__right .form-select .custom-select select {
            display: none; }
        .search-form__right .form-select .select-selected {
          display: flex;
          justify-content: start;
          align-items: center;
          height: 72px;
          font-size: 16px; }
          @media (max-width: 768px) {
            .search-form__right .form-select .select-selected {
              height: 62px; } }
          .search-form__right .form-select .select-selected::after {
            position: absolute;
            content: '';
            top: 35px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent; }
            @media (max-width: 768px) {
              .search-form__right .form-select .select-selected::after {
                top: 28px; } }
          .search-form__right .form-select .select-selected .select-arrow-active::after {
            border-color: transparent transparent #fff transparent;
            top: 7px; }
        .search-form__right .form-select .select-items div,
        .search-form__right .form-select .select-selected {
          color: #ffffff;
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer; }
        .search-form__right .form-select .select-items {
          position: absolute;
          background-color: #edcb9b;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99; }
        .search-form__right .form-select .select-hide {
          display: none; }
        .search-form__right .form-select .select-items div:hover,
        .search-form__right .form-select .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1); }
      .search-form__right .form .btnarea {
        height: 80px;
        width: 250px;
        background-color: #edcb9b;
        display: flex;
        align-items: center;
        justify-content: center; }
        .search-form__right .form .btnarea button {
          width: 100%;
          height: 100%;
          margin-top: 46px;
          background-color: #e5b570;
          border: none;
          font-size: 16px;
          border-radius: 0;
          transition: all 0.3s ease-in-out;
          cursor: pointer; }
          .search-form__right .form .btnarea button:hover {
            background-color: #dd9e45; }

.featured {
  padding-bottom: 100px; }
  .featured__heading {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 66px 0; }
    .featured__heading-rect {
      position: absolute;
      left: 52.5%;
      bottom: 36%;
      background-color: #edcb9b;
      width: 124px;
      height: 31px;
      z-index: -1; }
    .featured__heading h1 {
      font-family: Spectral-Bold;
      font-size: 41px;
      color: #24272e; }
  .featured__chalets {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 24px;
    height: 100%; }
    .featured__chaletsLeft {
      grid-column: 1/2;
      width: 100%;
      position: relative; }
      @media (max-width: 360px) {
        .featured__chaletsLeft {
          display: none; } }
      @media (max-width: 960px) {
        .featured__chaletsLeft {
          grid-column: 1/3;
          grid-row: 1/2; } }
      @media (max-width: 478px) {
        .featured__chaletsLeft {
          display: none; } }
      .featured__chaletsLeft-image {
        width: 100%;
        height: 100%;
        background-size: cover; }
      .featured__chaletsLeft-body {
        width: 360px;
        height: 242px;
        padding: 72px;
        background: #24272ede;
        position: absolute;
        bottom: 0; }
        .featured__chaletsLeft-body .price {
          font-family: 'Spectral', serif;
          font-weight: 700;
          font-size: 3.4rem;
          color: #edcb9b; }
        .featured__chaletsLeft-body h3 {
          font-family: 'Spectral', serif;
          font-weight: 600;
          font-size: 2rem;
          color: white; }
        .featured__chaletsLeft-body p {
          font-size: 1.4rem;
          color: #edcb9b;
          letter-spacing: 0.2px; }
        .featured__chaletsLeft-body span {
          font-size: 1.4rem;
          color: white; }
    .featured__chaletsRight {
      width: 100%;
      display: grid;
      grid-gap: 24px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr; }
      @media (max-width: 360px) {
        .featured__chaletsRight {
          grid-template-columns: 1fr;
          grid-template-rows: auto; } }
      @media (max-width: 960px) {
        .featured__chaletsRight {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-column: 1/3;
          grid-row: 2/3; } }
      @media (max-width: 478px) {
        .featured__chaletsRight {
          grid-template-columns: 1fr;
          grid-template-rows: auto; } }

.listing-header {
  background: #1f0730;
  padding-top: 84px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative; }
  .listing-header .header-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(36, 39, 46, 0) 0%, #24272e 100%); }
    .listing-header .header-overlay h2 {
      position: absolute;
      left: 33%;
      bottom: 20%;
      font-size: 50px;
      color: white;
      font-family: 'Spectral', serif;
      font-weight: 300;
      text-align: center;
      width: 35%;
      border: 1px solid #edcb9b; }
      @media (max-width: 1074px) {
        .listing-header .header-overlay h2 {
          font-size: 40px; } }
      @media (max-width: 860px) {
        .listing-header .header-overlay h2 {
          font-size: 30px; } }
      @media (max-width: 648px) {
        .listing-header .header-overlay h2 {
          font-size: 20px; } }
      @media (max-width: 648px) {
        .listing-header .header-overlay h2 {
          width: 50%;
          left: 25%; } }
      @media (max-width: 360px) {
        .listing-header .header-overlay h2 {
          left: 10%; } }
  .listing-header img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.enquiry__form {
  width: 100%;
  height: 80%;
  background: #1f0730;
  padding: 4rem 0; }
  .enquiry__form-heading {
    position: relative; }
    .enquiry__form-heading h3 {
      display: block;
      text-align: center;
      font-family: 'Spectral', serif;
      font-size: 34px;
      color: white;
      padding: 4rem 0; }
  .enquiry__form form {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 68px 68px 1fr 72px; }
    @media (max-width: 360px) {
      .enquiry__form form {
        grid-template-columns: 1fr;
        grid-template-rows: 68px 68px 68px 1fr 72px; } }
    .enquiry__form form input {
      background: transparent;
      border: 1px solid #edcb9b;
      padding-left: 20px;
      font-size: 16px; }
      .enquiry__form form input::placeholder {
        color: white;
        font-size: 16px; }
      .enquiry__form form input:focus {
        background-color: #edcb9b; }
    .enquiry__form form .form__input-email {
      grid-column: 2/3;
      grid-row: 1/2; }
      @media (max-width: 360px) {
        .enquiry__form form .form__input-email {
          grid-column: 1/2;
          grid-row: 2/3; } }
    .enquiry__form form .form__input-subject {
      grid-column: 1/3;
      grid-row: 2/3; }
      @media (max-width: 360px) {
        .enquiry__form form .form__input-subject {
          grid-column: 1/2;
          grid-row: 3/4; } }
    .enquiry__form form .form__input-text {
      grid-column: 1/2;
      grid-row: 1/2; }
      @media (max-width: 360px) {
        .enquiry__form form .form__input-text {
          grid-column: 1/2; } }
    .enquiry__form form .form__input-textarea {
      grid-column: 1/3;
      grid-row: 3/4; }
      @media (max-width: 360px) {
        .enquiry__form form .form__input-textarea {
          grid-column: 1/2;
          grid-row: 4/5; } }
    .enquiry__form form textarea {
      background: transparent;
      border: 1px solid #edcb9b;
      font-size: 14px;
      padding-left: 20px;
      padding-top: 20px; }
      .enquiry__form form textarea::placeholder {
        color: white; }
      .enquiry__form form textarea:focus {
        background-color: #edcb9b; }
    .enquiry__form form button {
      grid-column: 1/3;
      grid-row: 4/5;
      width: 80%;
      margin: 0 auto;
      width: 160px;
      height: 48px;
      border: none;
      background-color: #edcb9b;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      .enquiry__form form button:hover {
        background-color: #e5b570; }
      @media (max-width: 360px) {
        .enquiry__form form button {
          grid-column: 1/2;
          grid-row: 5/6;
          width: 200px; } }

.form-range {
  /* General Rules For Range Slider */
  margin-top: 48px;
  width: 70%; }
  .form-range .custom-rangeslider {
    position: relative;
    margin-top: 40px;
    padding: 0; }
  .form-range .custom-rangeInput {
    width: 100%;
    background: transparent;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0;
    margin: 0;
    height: 50px; }
    .form-range .custom-rangeInput::-webkit-slider-thumb {
      appearance: none;
      box-sizing: border-box;
      background-color: #edcb9b;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: #f0f2f3;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      margin-top: -8px; }
      .form-range .custom-rangeInput::-webkit-slider-thumb:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
    .form-range .custom-rangeInput::-moz-range-thumb {
      appearance: none;
      box-sizing: border-box;
      background-color: #edcb9b;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: #f0f2f3;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab; }
      .form-range .custom-rangeInput::-moz-range-thumb:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
    .form-range .custom-rangeInput::-ms-thumb {
      appearance: none;
      box-sizing: border-box;
      background-color: #edcb9b;
      width: 20px;
      height: 20px;
      border: none;
      border-radius: 50%;
      background: #f0f2f3;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      cursor: move;
      /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      margin: auto; }
      .form-range .custom-rangeInput::-ms-thumb:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing; }
    .form-range .custom-rangeInput::-webkit-slider-runnable-track {
      appearance: none;
      box-sizing: border-box;
      height: 5px;
      width: 100%;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      background: grey; }
    .form-range .custom-rangeInput::-moz-range-track {
      appearance: none;
      box-sizing: border-box;
      height: 5px;
      width: 100%;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      background: grey; }
    .form-range .custom-rangeInput::-ms-track {
      appearance: none;
      box-sizing: border-box;
      height: 5px;
      width: 100%;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      background: grey;
      color: transparent;
      border: none;
      outline: none; }
    .form-range .custom-rangeInput:focus, .form-range .custom-rangeInput:active {
      outline: none; }
    .form-range .custom-rangeInput::-ms-tooltip {
      display: none; }
  .form-range .custom-rangeslider__tooltip {
    line-height: 20px;
    position: absolute;
    height: 40px;
    width: 80px;
    font-size: 16px;
    color: #1f0730;
    background-color: #edcb9b;
    padding: 3px 3px;
    border: 1px #edcb9b solid;
    top: -40px;
    left: 0;
    text-align: center;
    transform: translate(-26%, 0);
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none; }
    .form-range .custom-rangeslider__tooltip:after {
      display: block;
      content: ' ';
      background: #edcb9b;
      position: absolute;
      border: 1px #edcb9b solid;
      border-top: 0;
      border-left: 0;
      width: 10px;
      height: 10px;
      left: calc(50% - 6px);
      bottom: -6px;
      transform: rotate(45deg); }
  .form-range .custom-rangeslider label {
    color: white;
    font-size: 14px; }
  .form-range .custom-rangeslider__label {
    width: 100%;
    font-size: 12px;
    display: block; }
    .form-range .custom-rangeslider__label span {
      display: block; }
    .form-range .custom-rangeslider__label-min {
      float: left; }
    .form-range .custom-rangeslider__label-max {
      float: right; }
    .form-range .custom-rangeslider__label:after {
      content: '';
      display: table;
      clear: both; }

.listing__card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1f0730; }
  .listing__card-image {
    height: 184px;
    position: relative;
    overflow: hidden; }
    .listing__card-image .img-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(36, 39, 46, 0) 0%, #24272e 100%); }
    .listing__card-image .f-img-1 img {
      width: 100%;
      height: inherit;
      object-fit: cover; }
    .listing__card-image .f-img-2 {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-position: center; }
    .listing__card-image .f-img-3 {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-position: center; }
    .listing__card-image .f-img-4 {
      width: 100%;
      height: inherit;
      background-size: cover;
      background-position: center; }
  .listing__card-body {
    background: #1f0730;
    height: 113px;
    padding: 3rem; }
    .listing__card-body h3 {
      font-family: 'Spectral', serif;
      font-size: 20px;
      line-height: 1;
      color: white; }
    .listing__card-body p {
      font-size: 1.2rem;
      margin: 0;
      overflow: hidden;
      color: #edcb9b; }
    .listing__card-body span {
      color: white;
      font-size: 1.2rem; }
  .listing__card-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%; }
    .listing__card-price span {
      font-size: 20px;
      font-family: 'Spectral', serif;
      color: white;
      margin-left: 20px; }
    .listing__card-price .tag {
      width: 50%;
      color: #edcb9b;
      font-size: 14px;
      text-align: center;
      background-color: #5c5f6d;
      height: 30px; }

.wrapper-search {
  position: fixed;
  z-index: 20000;
  width: 100%;
  height: 60%;
  background-color: white;
  display: none;
  transition: display 3s ease-in-out;
  overflow: hidden; }
  .wrapper-search .dis-none {
    display: block; }
  .wrapper-search .close-search {
    position: absolute;
    z-index: 200002;
    padding-left: 3%;
    padding-top: 3%;
    cursor: pointer; }
    .wrapper-search .close-search span {
      background-color: #1f0730;
      color: white;
      padding: 10px;
      margin-right: 10px; }
  .wrapper-search .search_box {
    padding: 30% 10% 10% 10%;
    width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 6px -10px #b3c6ff; }
    .wrapper-search .search_box .search_field {
      width: 350px;
      height: 10%;
      margin: 0 auto;
      position: relative; }
      .wrapper-search .search_box .search_field input {
        width: 100%;
        height: 100%;
        border: 0;
        border-bottom: 1px solid #1f0730;
        border-radius: none;
        font-size: 16px;
        padding-right: 38px;
        padding-left: 20px;
        outline: none; }
        .wrapper-search .search_box .search_field input::placeholder {
          color: #24272eea; }
      .wrapper-search .search_box .search_field svg {
        position: absolute;
        top: 0;
        right: 0;
        fill: #1f0730;
        width: 22px;
        height: 100%; }
    .wrapper-search .search_box .dropdown {
      width: 150px;
      border-right: 2px solid #dde2f1;
      color: #9fa3b1;
      position: relative;
      cursor: pointer; }
      .wrapper-search .search_box .dropdown:before {
        content: '';
        position: absolute;
        top: 18px;
        right: 20px;
        border: 8px solid;
        border-color: #1f0730 transparent transparent transparent; }
      .wrapper-search .search_box .dropdown .default_option {
        text-transform: uppercase;
        padding: 13px 15px;
        font-size: 14px;
        use-select: none; }
      .wrapper-search .search_box .dropdown ul {
        position: absolute;
        z-index: 300000;
        top: 70px;
        left: -10px;
        border: 1px solid #1f0730;
        width: 150px;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 8px 8px 6px -10 #b3c6ff;
        display: none;
        list-style-type: none; }
        .wrapper-search .search_box .dropdown ul.active {
          display: block;
          margin: 0; }
        .wrapper-search .search_box .dropdown ul li {
          padding-bottom: 20;
          use-select: none; }
          .wrapper-search .search_box .dropdown ul li:last-child {
            padding-bottom: 0; }
          .wrapper-search .search_box .dropdown ul li:hover {
            color: #1f0730; }

.results {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 5%; }
  .results .chaletresults {
    width: 90%;
    display: flex;
    margin-bottom: 10px;
    column-gap: 1rem; }
    @media (max-width: 468px) {
      .results .chaletresults {
        margin: 0 5%; } }
    .results .chaletresults__image {
      flex-basis: 30%;
      overflow: hidden;
      border-radius: 4px; }
      .results .chaletresults__image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      @media (max-width: 468px) {
        .results .chaletresults__image {
          flex-basis: 40%; } }
    .results .chaletresults__details {
      width: 100%;
      display: flex;
      padding: 0 10%;
      align-items: center;
      justify-content: center;
      column-gap: 10%;
      background: #1f0730;
      border-radius: 4px; }
      @media (max-width: 468px) {
        .results .chaletresults__details {
          padding: 5%;
          column-gap: 2%; } }
      .results .chaletresults__details-left h1,
      .results .chaletresults__details-left p {
        margin: 0;
        line-height: 1.2; }
      .results .chaletresults__details-left h1 {
        color: #edcb9b; }
      .results .chaletresults__details-left p {
        color: white; }
      @media (max-width: 468px) {
        .results .chaletresults__details-left h1 {
          font-size: 1.6rem; }
        .results .chaletresults__details-left p {
          font-size: 1rem; } }
      .results .chaletresults__details-right {
        flex-basis: 30%;
        padding: 10% 0;
        text-align: right;
        height: 100%; }
        @media (max-width: 468px) {
          .results .chaletresults__details-right {
            flex-basis: 10%; } }
        .results .chaletresults__details-right .price {
          font-weight: bold;
          font-size: 1.8rem;
          color: #edcb9b; }
          .results .chaletresults__details-right .price span {
            font-size: 1.6rem;
            font-weight: normal;
            color: white; }
          @media (max-width: 468px) {
            .results .chaletresults__details-right .price {
              font-size: 1.2rem; }
              .results .chaletresults__details-right .price span {
                font-size: 1rem;
                margin-right: 2px; } }
        .results .chaletresults__details-right button {
          height: 42px;
          width: 108px;
          border: none;
          outline: none;
          background: #edcb9b; }
          .results .chaletresults__details-right button a {
            font-size: 1.2rem;
            color: #1f0730; }
        @media (max-width: 468px) {
          .results .chaletresults__details-right button {
            width: 80px;
            height: 24px; }
            .results .chaletresults__details-right button a {
              text-align: center;
              font-size: 1rem; } }

.searchform {
  width: 100%;
  height: 10%;
  padding: 5%;
  margin: auto;
  background: #1f0730; }
  .searchform form {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .searchform form button {
      width: 20%;
      border: none;
      outline: none;
      background-color: #edcb9b;
      border-radius: 4px; }
      .searchform form button:hover {
        cursor: pointer;
        background-color: #e9c085; }
    .searchform form label {
      color: #edcb9b; }
    .searchform form select {
      width: 15%;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, white 0%, white 100%);
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none; }
    .searchform form option {
      font-size: 1.6rem;
      background-color: #edcb9b; }

#listing-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10% 10%; }

.search-form__left {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  margin-right: 24px; }

.search__section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0; }


/*# sourceMappingURL=style.css.map*/