*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-2;
}

html {
  font-size: 62.5%;
}
body {
  font-family: $font-2;
  line-height: 1.7;
  font-size: 16px;
  box-sizing: border-box;
  color: $color-grey-dark;
}

a {
  text-decoration: none;
  color: white;
}
.containerWrapper {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  @include flexbox;
  @include center(space-between);
}
