// .header {
//   background: $color-primary;
.listing-header {
  background: $color-primary;
  padding-top: 84px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  .header-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(36, 39, 46, 0) 0%,
      #24272e 100%
    );
    h2 {
      position: absolute;
      left: 33%;
      bottom: 20%;
      font-size: 50px;
      color: white;
      font-family: 'Spectral', serif;
      font-weight: 300;
      text-align: center;
      width: 35%;
      border: 1px solid $color-secondary;
      @include media('<=1074px') {
        font-size: 40px;
      }
      @include media('<=860px') {
        font-size: 30px;
      }
      @include media('<=648px') {
        font-size: 20px;
      }
      @include media('<=648px') {
        width: 50%;
        left: 25%;
      }
      @include media('<=phone') {
        left: 10%;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// }
