// FORM SECTION

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  position: relative;
  @include media('<=tablet') {
    grid-template-rows: 1fr 200px;
  }
  &__left-top {
    //background: url('/images/form-image.png');
    height: 100%;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/2;
    img {
      width: 100%;
      height: 100%;
    }
    @include media('<=tablet') {
      grid-column: 1/3;
    }
  }
  &__left-bottom {
    padding-top: 10%;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 20%;
    position: relative;
    background-color: #f1f2f4;
    height: 100%;
    width: 100%;
    @include media('<=tablet') {
      padding-left: 5%;
      grid-column: 1/3;
    }
    @include media('<=phone') {
      background: white;
    }
    span {
      position: absolute;
      font-family: Spectral-Bold;
      font-weight: 600;
      display: block;
      width: 50%;
      height: 100%;
      font-size: 50px;
      color: #24272e;
      line-height: 55px;
      z-index: 2;
      @include media('<=tablet') {
        width: 25%;
        top: 60px;
        font-size: 30px;
        line-height: 35px;
      }
      @include media('<=1074px') {
        width: 35%;
        top: 60px;
        font-size: 40px;
        line-height: 35px;
      }
      @include media('<=768px') {
        display: none;
      }
      @include media('<=phone') {
        display: none;
      }
    }
    .rect {
      position: absolute;
      left: 20%;
      top: 40%;
      width: 168px;
      height: 34px;
      background-color: $color-secondary;
      z-index: 1;
      @include media('<=tablet') {
        width: 160px;
        top: 30%;
        left: 5%;
      }
      @include media('<=768px') {
        display: none;
      }
      @include media('<=phone') {
        display: none;
      }
    }
  }
  &__right {
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: $color-primary;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    @include media('<=tablet') {
      height: 60%;
    }
    .dream {
      margin: 0 10%;
      @include media('<=320px') {
        margin: 0;
      }
      h2 {
        font-family: $font-1;
        line-height: 1.2;
        color: white;
        margin: 0;
        text-align: center;
        font-size: 56px;
        @include media('<=tablet') {
          font-size: 36px;
        }
        @include media('<=375px') {
          font-size: 26px;
        }
      }
    }
    @include media('<=tablet') {
      position: absolute;
      background-color: #24272ef1;
      padding: 5rem 0;
      width: 130%;
      right: 30px;
      top: 30px;
    }
    @include media('<=1074px') {
      position: absolute;
      background-color: #24272ef1;
      padding: 5rem 0;
      width: 130%;
      right: 30px;
      top: 30px;
    }
    @include media('<=phone') {
      grid-column: 1/3;
      grid-row: 1/3;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      width: 100%;
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      @include media('<=tablet') {
        height: 80%;
      }

      &-nav {
        display: flex;
        margin-bottom: 46px;
        &__forsale {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 40px;
          background: #edcb9b;
          a {
            color: $color-primary;
            font-size: 16px;
          }
        }
        &__forrent {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 128px;
          height: 40px;
          border: 1px solid $color-secondary;
          a {
            font-size: 16px;
          }
        }
      }

      &-select {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8%;
        justify-items: center;
        align-items: center;
        width: 60%;
        &__baths {
          width: 100%;
        }
        &__beds {
          width: 100%;
        }
        .custom-select {
          position: relative;
          border: 1px solid $color-secondary;
          border-color: $color-secondary;
          select {
            display: none;
          }
        }
        .select-selected {
          display: flex;
          justify-content: start;
          align-items: center;
          height: 72px;
          font-size: 16px;
          @include media('<=tablet') {
            height: 62px;
          }
          &::after {
            position: absolute;
            content: '';
            top: 35px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
            @include media('<=tablet') {
              top: 28px;
            }
          }
          .select-arrow-active::after {
            border-color: transparent transparent #fff transparent;
            top: 7px;
          }
        }
        .select-items div,
        .select-selected {
          color: #ffffff;
          padding: 8px 16px;
          border: 1px solid transparent;
          border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
          cursor: pointer;
        }

        .select-items {
          position: absolute;
          background-color: $color-secondary;
          top: 100%;
          left: 0;
          right: 0;
          z-index: 99;
        }

        .select-hide {
          display: none;
        }

        .select-items div:hover,
        .same-as-selected {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .btnarea {
        height: 80px;
        width: 250px;
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 100%;
          height: 100%;
          margin-top: 46px;
          background-color: darken($color: $color-secondary, $amount: 10);
          border: none;
          font-size: 16px;
          border-radius: 0;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            background-color: darken($color: $color-secondary, $amount: 20);
          }
        }
      }
    }
  }
}
